In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
geopolitical_to_geographical_mapping = {
    "Afghan": "Afghanistan",
    "Albanian": "Albania",
    "Algerian": "Algeria",
    "American": "United States",
    "Andorran": "Andorra",
    "Angolan": "Angola",
    "Antiguan": "Antigua and Barbuda",
    "Argentine": "Argentina",
    "Armenian": "Armenia",
    "Australian": "Australia",
    "Austrian": "Austria",
    "Azerbaijani": "Azerbaijan",
    "Bahamian": "Bahamas",
    "Bahraini": "Bahrain",
    "Bangladeshi": "Bangladesh",
    "Barbadian": "Barbados",
    "Belarusian": "Belarus",
    "Belgian": "Belgium",
    "Belizean": "Belize",
    "Beninese": "Benin",
    "Bhutanese": "Bhutan",
    "Bolivian": "Bolivia",
    "Bosnian": "Bosnia and Herzegovina",
    "Botswanan": "Botswana",
    "Brazilian": "Brazil",
    "British": "United Kingdom",
    "Bruneian": "Brunei",
    "Bulgarian": "Bulgaria",
    "Burkinabe": "Burkina Faso",
    "Burmese": "Myanmar",
    "Burundian": "Burundi",
    "Cambodian": "Cambodia",
    "Cameroonian": "Cameroon",
    "Canadian": "Canada",
    "Cape Verdean": "Cape Verde",
    "Central African": "Central African Republic",
    "Chadian": "Chad",
    "Chilean": "Chile",
    "Chinese": "China",
    "Colombian": "Colombia",
    "Comoran": "Comoros",
    "Congolese": "Congo",
    "Costa Rican": "Costa Rica",
    "Croatian": "Croatia",
    "Cuban": "Cuba",
    "Cypriot": "Cyprus",
    "Czech": "Czech Republic",
    "Danish": "Denmark",
    "Djiboutian": "Djibouti",
    "Dominican": "Dominican Republic",
    "Dutch": "Netherlands",
    "East Timorese": "Timor-Leste",
    "Ecuadorean": "Ecuador",
    "Egyptian": "Egypt",
    "Salvadoran": "El Salvador",
    "Equatorial Guinean": "Equatorial Guinea",
    "Eritrean": "Eritrea",
    "Estonian": "Estonia",
    "Ethiopian": "Ethiopia",
    "Fijian": "Fiji",
    "Finnish": "Finland",
    "French": "France",
    "Gabonese": "Gabon",
    "Gambian": "Gambia",
    "Georgian": "Georgia",
    "German": "Germany",
    "Ghanaian": "Ghana",
    "Greek": "Greece",
    "Grenadian": "Grenada",
    "Guatemalan": "Guatemala",
    "Guinea-Bissauan": "Guinea-Bissau",
    "Guinean": "Guinea",
    "Guyanese": "Guyana",
    "Haitian": "Haiti",
    "Herzegovinian": "Bosnia and Herzegovina",
    "Honduran": "Honduras",
    "Hungarian": "Hungary",
    "Icelander": "Iceland",
    "Indian": "India",
    "Indonesian": "Indonesia",
    "Iranian": "Iran",
    "Iraqi": "Iraq",
    "Irish": "Ireland",
    "Israeli": "Israel",
    "Italian": "Italy",
    "Ivorian": "Ivory Coast",
    "Jamaican": "Jamaica",
    "Japanese": "Japan",
    "Jordanian": "Jordan",
    "Kazakhstani": "Kazakhstan",
    "Kenyan": "Kenya",
    "Kittian and Nevisian": "Saint Kitts and Nevis",
    "Kuwaiti": "Kuwait",
    "Kyrgyz": "Kyrgyzstan",
    "Laotian": "Laos",
    "Latvian": "Latvia",
    "Lebanese": "Lebanon",
    "Liberian": "Liberia",
    "Libyan": "Libya",
    "Liechtensteiner": "Liechtenstein",
    "Lithuanian": "Lithuania",
    "Luxembourger": "Luxembourg",
    "Macedonian": "Macedonia",
    "Malagasy": "Madagascar",
    "Malawian": "Malawi",
    "Malaysian": "Malaysia",
    "Maldivian": "Maldives",
    "Malian": "Mali",
    "Maltese": "Malta",
    "Marshallese": "Marshall Islands",
    "Mauritanian": "Mauritania",
    "Mauritian": "Mauritius",
    "Mexican": "Mexico",
    "Micronesian": "Micronesia",
    "Moldovan": "Moldova",
    "Monacan": "Monaco",
    "Mongolian": "Mongolia",
    "Montenegrin": "Montenegro",
    "Moroccan": "Morocco",
    "Mosotho": "Lesotho",
    "Motswana": "Botswana",
    "Mozambican": "Mozambique",
    "Namibian": "Namibia",
    "Nauruan": "Nauru",
    "Nepalese": "Nepal",
    "New Zealander": "New Zealand",
    "Nicaraguan": "Nicaragua",
    "Nigerian": "Nigeria",
    "Nigerien": "Niger",
    "North Korean": "North Korea",
    "Norwegian": "Norway",
    "Omani": "Oman",
    "Pakistani": "Pakistan",
    "Palauan": "Palau",
    "Panamanian": "Panama",
    "Papua New Guinean": "Papua New Guinea",
    "Paraguayan": "Paraguay",
    "Peruvian": "Peru",
    "Philippine": "Philippines",
    "Polish": "Poland",
    "Portuguese": "Portugal",
    "Qatari": "Qatar",
    "Romanian": "Romania",
    "Russian": "Russia",
    "Rwandan": "Rwanda",
    "Saint Lucian": "Saint Lucia",
    "Salvadoran": "El Salvador",
    "Samoan": "Samoa",
    "San Marinese": "San Marino",
    "Sao Tomean": "Sao Tome and Principe",
    "Saudi": "Saudi Arabia",
    "Saudi Arabian": "Saudi Arabia",
    "Scottish": "Scotland",
    "Senegalese": "Senegal",
    "Serbian": "Serbia",
    "Seychellois": "Seychelles",
    "Sierra Leonean": "Sierra Leone",
    "Singaporean": "Singapore",
    "Slovak": "Slovakia",
    "Slovenian": "Slovenia",
    "Solomon Islander": "Solomon Islands",
    "Somali": "Somalia",
    "South African": "South Africa",
    "South Korean": "South Korea",
    "South Sudanese": "South Sudan",
    "Spanish": "Spain",
    "Sri Lankan": "Sri Lanka",
    "Sudanese": "Sudan",
    "Surinamer": "Suriname",
    "Swazi": "Swaziland",
    "Swedish": "Sweden",
    "Swiss": "Switzerland",
    "Syrian": "Syria",
    "Taiwanese": "Taiwan",
    "Tajik": "Tajikistan",
    "Tanzanian": "Tanzania",
    "Thai": "Thailand",
    "Togolese": "Togo",
    "Tongan": "Tonga",
    "Trinidadian or Tobagonian": "Trinidad and Tobago",
    "Tunisian": "Tunisia",
    "Turkish": "Turkey",
    "Turkmen": "Turkmenistan",
    "Tuvaluan": "Tuvalu",
    "Ugandan": "Uganda",
    "Ukrainian": "Ukraine",
    "Uruguayan": "Uruguay",
    "Uzbekistani": "Uzbekistan",
    "Vanuatuan": "Vanuatu",
    "Venezuelan": "Venezuela",
    "Vietnamese": "Vietnam",
    "Welsh": "Wales",
    "Yemeni": "Yemen",
    "Zambian": "Zambia",
    "Zimbabwean": "Zimbabwe"
}

In [3]:
data_file = "../data/timeline_data.xlsx"
data = pd.read_excel(data_file)

In [4]:
column = 'Unnamed: 0'
data.columns[:]

Index(['Unnamed: 0', 'Date', 'Description'], dtype='object')

In [5]:
data = data.rename(columns = {column:"Year", "Description":"Event"})

In [6]:
data

     Year         Date                                              Event
0    2010   January 12  A 7.0 magnitude earthquake in Haiti kills 230,...
1    2010  February 18                         2010 Nigerien coup d'état.
2    2010     March 29                        2010 Moscow Metro bombings.
3    2010     April 10  The President of Poland, Lech Kaczyński, is am...
4    2010     April 20  The largest oil spill in US history occurs in ...
..    ...          ...                                                ...
244  2023   October 27  Operation 1027, a coordinated assault by anti-...
245  2023  November 24        Somalia admitted to East African Community.
246  2023  December 12  COP28 ends with world leaders pledging transit...
247  2023  December 18       Catholic Church releases Fiducia supplicans.
248  2023  December 31  Queen Margrethe II of Denmark announces her ab...

[249 rows x 3 columns]

In [7]:
data.iloc[1].Event

"2010 Nigerien coup d'état."

In [8]:
import pandas as pd
import spacy
# Load spaCy model
nlp = spacy.load("en_core_web_sm")

In [10]:
# Function to convert country names to their geographical forms
def convert_to_geographical(country):
    if country not in geopolitical_to_geographical_mapping.keys():
        return country
    return geopolitical_to_geographical_mapping[country]

# Function to extract country from the event
def extract_country(event):
    doc = nlp(event)
    for ent in doc.ents:
        if ent.label_ == "GPE":  # GPE represents geopolitical entity
            country = ent.text
            return convert_to_geographical(country)
    return "NIL"  # If no country found, mark as NIL

In [11]:
data['Country'] = data['Event'].apply(extract_country)

In [12]:
data

,Year,Date,Event,Country
0,2010,January 12,"A 7.0 magnitude earthquake in Haiti kills 230,...",Haiti
1,2010,February 18,2010 Nigerien coup d'état.,Niger
2,2010,March 29,2010 Moscow Metro bombings.,Moscow
3,2010,April 10,"The President of Poland, Lech Kaczyński, is am...",Poland
4,2010,April 20,The largest oil spill in US history occurs in ...,US
...,...,...,...,...
244,2023,October 27,"Operation 1027, a coordinated assault by anti-...",Myanmar
245,2023,November 24,Somalia admitted to East African Community.,Somalia
246,2023,December 12,COP28 ends with world leaders pledging transit...,NIL
247,2023,December 18,Catholic Church releases Fiducia supplicans.,NIL
248,2023,December 31,Queen Margrethe II of Denmark announces her ab...,Denmark

In [14]:
data.to_csv("../data/events-cleaned.csv")

In [ ]:
[1,2,3,4,5].

In [43]:
data[data["Event"].str.contains("France", case=False)]

,Year,Date,Event,Country
134,2021,January 13,"In Lyon, France, the first transplant of both ...",Lyon
180,2022,January 4,"China, France, Russia, the UK, and the US—all ...",China

In [47]:
data.iloc[180].Event

'China, France, Russia, the UK, and the US—all five permanent members of the United Nations Security Council—issue a rare joint statement affirming that "a nuclear war cannot be won and must never be fought."[6]'

In [35]:
data.loc[data["Country"] == "NIL"]

,Year,Date,Event,Country
8,2011,February 22,Christchurch earthquake kills 185 and injures ...,NIL
11,2011,July 9,Independence of South Sudan.,NIL
14,2011,October 20,Muammar Gaddafi is captured and killed during ...,NIL
19,2012,October 14,Skydiver Felix Baumgartner becomes the first p...,NIL
20,2012,October 22 – November 22,Hurricane Sandy causes $70 billion in damage a...,NIL
...,...,...,...,...
239,2023,September 19 – 20,2023 Azerbaijani offensive in Nagorno-Karabakh.,NIL
242,2023,October 7,2023 Herat earthquakes.,NIL
243,2023,October 23,2023 Guayana Esequiba crisis.,NIL
246,2023,December 12,COP28 ends with world leaders pledging transit...,NIL
247,2023,December 18,Catholic Church releases Fiducia supplicans.,NIL